html
html
   head
      title Form 
   body
      form(action = "/", method = "POST")
         div
            label(for = "a") Nombre a :
            input(name = "a" value = "4")
         br
         div
            label(for = "b") Nombre b :
            input(name = "b" value = "10")
         br
         button(type = "submit") Envoyer